<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-sharp"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="tab_btn_select ion-text-center">
                Resumen de entrega
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #mapInfo id="mapInfo" class="map-medium-height" [hidden]="hideMap"></div>

    <ion-card class="info">
        <div class="card_header">
            <!--<div class="info d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/truck1.png" class="crop_img">
                </div>
                <div class="truck_details">
                    &lt;!&ndash;<h2 class="d-flex">
                        Resumen de entrega<span class="end">Envío</span>
                    </h2>
                    <h3>{{googleMapsService.displayRoute.directionsDisplay || ""}}</h3>&ndash;&gt;
                </div>
            </div>-->
            <ion-segment mode="md" lines="none" [(ngModel)]="truck_info">
                <ion-segment-button value="about_trip" text-start>
                    {{'Detalle'}}
                </ion-segment-button>
                <!--<ion-segment-button value="vehicle_info" text-start>
                    {{'Vehículo'}}
                </ion-segment-button>-->
            </ion-segment>
        </div>
        <div class="tab_container" [ngSwitch]="truck_info">
            <ion-list lines="none" *ngSwitchCase="'about_trip'">
                <div class="trip_info">
                    <ion-item class="trip_start">
                        <div class="item_inner d-flex">
                            <ion-icon class="zmdi zmdi-circle ion-text-start"></ion-icon>
                            <div class="label">
                                <h3>{{'Lugar de origen'}}</h3>
                                <h4>{{ start_location?.displayRoute || ""}}</h4>
                            </div>
                        </div>
                    </ion-item>
                    <!--<ion-item class="current_location">
                        <div class="item_inner d-flex">
                            <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                            <div class="label">
                                <h3>{{'current_location' | translate}}</h3>
                                <h4>1141, Hemiltone tower, New York, USA</h4>
                            </div>
                        </div>
                    </ion-item>-->
                    <ion-item class="trip_end">
                        <div class="item_inner d-flex">
                            <ion-icon class="zmdi zmdi-circle ion-text-start"></ion-icon>
                            <div class="label">
                                <h3>{{'Lugar de destino'}}</h3>
                                <h4>{{ end_location?.displayRoute || ""}}</h4>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>

            <!-- <ion-list lines="none" *ngSwitchCase="'vehicle_info'">
                 <ion-item>
                     <div class="item_inner">
                         <ion-row>
                             <ion-col size="7">
                                 <h3>{{'vehicle_model' | translate}}</h3>
                                 <h4>SCANIA R730</h4>
                             </ion-col>
                             <ion-col size="5">
                                 <h3>{{'vehicle_number' | translate}}</h3>
                                 <h4>GTY 1024</h4>
                             </ion-col>
                         </ion-row>
                     </div>
                 </ion-item>
                 <ion-item>
                     <div class="item_inner">
                         <ion-row>
                             <ion-col size="7">
                                 <h3>{{'max_load_capavity' | translate}}</h3>
                                 <h4>16.2 tonnes</h4>
                             </ion-col>
                             <ion-col size="5">
                                 <h3><strong>{{'edit_vehicle_info' | translate}}</strong></h3>
                             </ion-col>
                         </ion-row>
                     </div>
                 </ion-item>
                 <ion-item>
                     <div class="item_inner">
                         <ion-row>
                             <ion-col size="10">
                                 <h3>{{'driver' | translate}}</h3>
                                 <h4>George Jackson (+1 987 654 3210)</h4>
                             </ion-col>
                             <ion-col size="2" class="d-flex">
                                 <ion-icon class="zmdi zmdi-phone end"></ion-icon>
                             </ion-col>
                         </ion-row>
                     </div>
                 </ion-item>
                 <ion-item>
                     <div class="item_inner">
                         <ion-row>
                             <ion-col size="10">
                                 <h3>{{'helper' | translate}}</h3>
                                 <h4>Tonny Willamson (+1 987 654 3210)</h4>
                             </ion-col>
                             <ion-col size="2" class="d-flex">
                                 <ion-icon class="zmdi zmdi-phone end"></ion-icon>
                             </ion-col>
                         </ion-row>
                     </div>
                 </ion-item>
             </ion-list>-->
        </div>
    </ion-card>

    <form [formGroup]="form" class="info other_info">
        <ion-list lines="none">

            <ion-item lines="none" class="ion-no-margin">
                <div class="filter">
                    <div class="scroll_container">
                        <h2 class="ion-text-center" [ngClass]="sobre ? 'active' : '' "
                            (click)="toggle('sobre')">Sobre</h2>
                        <h2 class="ion-text-center" [ngClass]="paquete ? 'active' : '' "
                            (click)="toggle('paquete')">Paquete de caja</h2>
                        <h2 class="ion-text-center" [ngClass]="otro ? 'active' : '' "
                            (click)="toggle('otro')">Otro</h2>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">{{'Nombre del destinatario'}}</ion-label>
                <ion-input type="text" formControlName="client"></ion-input>
            </ion-item>

            <ion-row>
                <ion-col size="3">
                    <ion-item lines="none">
                        <ion-label position="stacked">{{'País'}}</ion-label>
                        <ion-select class="border-botom" interface="popover" formControlName="type">
                            <ion-select-option value="+505">{{'Nicaragua'}}</ion-select-option>
                            <ion-select-option value="+593">{{'Ecuador'}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="9">
                    <ion-item lines="none">
                        <ion-label position="stacked">{{'Teléfono del destinatario'}}</ion-label>
                        <ion-input type="number" formControlName="phone_destination"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-item lines="none">
                <ion-label position="stacked">{{'Descripción del paquete'}}</ion-label>
                <ion-textarea rows="4" type="text" formControlName="content"></ion-textarea>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">{{'Modo de entrega'}}</ion-label>
                <ion-select placeholder="Seleccionar" class="" interface="popover" formControlName="mode">
                    <ion-select-option value="$ 8.6">{{'Económico $ 8.60'}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>

    <ion-button size="large" shape="round" class="btn" (click)="continue()">
        {{'continue' | translate}}
    </ion-button>
    <br><br>
</ion-content>
