ion-header ion-toolbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#mapInfo {
  //background: #1b85ab;
  width: 100%;
  //height: calc((100vh - 120px)); //80vh;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-medium-height {
  height: 30vh !important;
}
/*
.map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 30vh;
  }
}*/

.truck {
  background: url("../../../assets/imgs/pin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 54px;
  position: absolute;
  z-index: 99;

  .truck_img {
    top: 4px;
    width: 32px;
    height: 32px;
    max-width: 32px;
    border-radius: 50%;
    margin: 0 auto;
  }
}

.location {
  position: absolute;
  width: 100%;
  height: 100%;

  ion-icon {
    position: absolute;
    font-size: 1rem;

    &.start_location {
      color: var(--red_color);
    }

    &.end_location {
      color: var(--green_color);
    }
  }
}

ion-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  ion-card {
    background: var(--bg-light);
    width: 100%;
    margin: 0;
    box-shadow: none;
    border-radius: 10px 10px 0 0;

    .card_header {
      padding: 17px 16px 0 16px;
      align-items: flex-start;
      position: relative;

      .img_box {
        min-width: 72px;
        max-width: 72px;
        min-height: 72px;
        border-radius: 50%;
        margin-right: 18px;
      }

      .truck_details {
        width: 100%;

        h2 {
          font-size: 1.2rem;
          font-weight: 700;
          letter-spacing: 0;
          margin: 0;
          margin-bottom: 4px;
          color: var(--text-black);

          .end {
            color: var(--green_color);
            font-size: .95rem;
            letter-spacing: 0.5px;
          }
        }

        h3 {
          color: var(--text-light);
          font-weight: 500;
          font-size: .7rem;
          margin: 0;
          margin-bottom: 4px;
          letter-spacing: 0;
          opacity: .6;
        }

      }

      ion-segment {
        max-width: calc(100% - 54px);
        margin: 0 auto;


        ion-segment-button {
          background: none !important;
          position: relative;
          color: var(--text-light) !important;
          text-transform: unset !important;
          letter-spacing: 0;
          --color-checked: var(--transparent) !important;
          text-align: justify !important;
          --background-checked: var(--transparent) !important;
          --border-width: 0 !important;
          --border-radius: 0 !important;
          padding: 0px 0;
          text-align: justify;
          opacity: 1;
          font-size: .9rem;
          font-weight: 700;

          &.segment-button-checked {
            opacity: 1;
            color: var(--text-black) !important;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 53px;
              height: 3px;
              border-radius: 0px;
              background: var(--primary);
              margin: 0 auto;
            }
          }
        }
      }
    }

    ion-list {
      background: var(--white);
      border-radius: 7px 7px 0 0;
      padding: 30px 24px 0px 24px;
      max-height: 290px;
      min-height: 290px;
      overflow-y: scroll;

      ion-item {
        padding: 0;
        background: none;
        align-items: flex-start;
        padding: 0px 0px 27px 0px;
        position: relative;
        --background: var(--transparent);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        box-shadow: none !important;
        --min-height: unset;

        .item_inner {
          width: 100%;
          overflow: hidden;

          ion-row {
            padding: 0 -5px;

            ion-col {
              padding: 0 5px;

              ion-icon {
                color: var(--primary);
                border: 1px solid #ccc;
                border-radius: 50%;
                font-size: 1rem;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
              }
            }
          }

          h3 {
            color: var(--text-light);
            font-size: 0.8rem;
            margin: 0;
            margin-bottom: 3px;
            opacity: 0.8;


            strong {
              color: var(--primary);
              font-size: 1rem;
            }
          }

          h4 {
            color: var(--text-dark);
            font-size: 0.95rem;
            margin: 0;
            font-weight: 400;
          }

        }

        ion-icon {
          text-align: justify;

          &[item-start] {
            margin: 0;
            font-size: 1.4rem;
            margin-right: 8px;

          }

        }

      }

      .trip_info {
        ion-item {
          ion-icon {
            font-size: .9rem;
            background: var(--white);
            min-width: 30px;
            padding-top: 3px;
          }

          .item_inner {
            align-items: flex-start;

            .label {
              width: 100%;
              overflow: hidden;
            }
          }

          &.current_location {
            ion-icon {
              color: var(--primary);
              font-size: 1.2rem;

            }
          }

          &.trip_end {
            ion-icon {
              color: var(--green_color);
            }
          }

          &.trip_start {
            ion-icon {
              color: var(--red_color);
            }
          }

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 7px;
            left: 6px;
            height: 50%;
            width: 1px;
            border-left: 1px dashed #ccc;
            z-index: -1;
          }

          &::after {
            top: unset;
            bottom: 0;
          }

          &:last-child {

            &::before,
            &::after {
              display: none;
            }
          }

        }
      }
    }
  }
}
