#map {
  //background: #1b85ab;
  width: 100%;
  height: calc((100vh - 120px)); //80vh;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-full-height {
  height: 100vh !important;
}

#marker {
  position: absolute;
  /*url of the marker*/
  background: url(../../../assets/imgs/pin3.png) no-repeat;
  background-repeat: no-repeat;
  -ms-background-size: contain;
  -o-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain; // background-position: 53% 89%;
  -ms-background-size: contain;
  background-size: contain;
  background-position-y: 90%;

  /*center the marker*/
  top: calc(50% - 50px);
  left: 50%;

  z-index: 999;
  /*fix offset when needed*/
  margin-left: -26px;
  margin-top: -51px;
  height: 45px;
  width: 45px;
  //color: var(--primary);

  cursor: pointer;
}


ion-list {
  width: calc(100% - 10px);
  margin: 0 5px;
  margin-top: 0px;
  padding: 0;
  margin-bottom: 35px;
  background: none;

  ion-item {
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 12px 18px 12px 10px;
    --background: var(--transparent);
    background: var(--white);
    --inner-padding-end: 0px;
    --inner-min-height: unset !important;
    --padding-start: 0;
    box-shadow: 2px 1px 5px var(--primary-light) !important;
    --min-height: unset;

    .truck_details {
      .img_box {
        max-width: 53px;
        min-width: 53px;
        height: 53px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .text_box {
        width: 100%;

        h2 {
          font-size: 1.1rem;
          font-weight: 700;
          margin: 0;
          letter-spacing: 0;
          margin-bottom: 4px;
          color: var(--text-dark);
          .end {

            font-size: .95rem;
            letter-spacing: .5px;
            letter-spacing: 0;
          }
        }

        h3 {
          color: var(--text-light);
          font-weight: 400;
          font-size: .7rem;
          margin: 0;
          margin-bottom: 4px;
          letter-spacing: 0;

          span {
            strong {
              color: var(--text-black);
            }
          }
        }
      }
    }

    &.in_transist {
      .truck_details .text_box h2 .end {
        color: var(--green_color);

      }
    }

    &.idle {
      .truck_details .text_box h2 .end {
        color: var(--orange_color);

      }
    }

    &.in_garange {
      .truck_details .text_box h2 .end {
        color: var(--sky_Blue);

      }
    }

    &.stopped {
      .truck_details .text_box h2 .end {
        color: var(--red_color);

      }
    }
  }
}
