<ion-app [dir]="rtlSide">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <div class="profile_box">
          <div class="profile_img center_img">
            <img src="assets/imgs/profile_pic.png" class="crop_img_avatar">
          </div>
          <div class="profile_details">
            <h2>Geroge Pole</h2>
            <p>Seven Star Transportations</p>
          </div>
        </div>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item detail="false" [routerDirection]="'root'" (click)="openPage(p)">
              <div class="item_inner d-flex">
                <ion-icon class="ion-text-start" slot="start" [class]="p.icon"></ion-icon>
                <h2>{{ p.title | translate}}</h2>
              </div>
            </ion-item>
          </ion-menu-toggle>

          <div *ngIf="config.showBuyPromt" class="buy_this_app">
            <h2>
              <ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>
              {{"buy_this_app" | translate}}
            </h2>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
